$black: #262628;
$orange: #FF6D1A;
$gray: #3E4A61;
$light-gray: #537791;
$blue: #7EB8E2;
$light-blue: #E5F1F9;


$em: #FF5C00; //hover click
$gr1: #FF5300; //gradient1
$gr2: #FF7800; //gradient2
$hovicon: #FF995F;